<!DOCTYPE html>
<html lang="pt-br">

{% load static %} {% load bootstrap5 %} {% load widget_tweaks %}

<head>
    {% include "Base/cabecalho.html" %}
</head>

<body class="">
    <main class="main-content  mt-0">
      <section>
        <div class="page-header min-vh-100">
          <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-6 d-none d-lg-flex ps-0 flex-column justify-content-center text-center">
                    <div id="imagem-aleatoria" class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden">
                      <span class="mask bg-gradient-primary opacity-6"></span>
                      <div class="text-center">
                        <img src="{% static 'assets/img/LogoRAP-transparente.png' %}" width="30%"/>
                      </div>
                      <h4 class="text-white font-weight-bolder position-relative">Robótica para Alunos e Professores</h4>
                      <p class="text-white position-relative">Venha compartilhar sua experiência em robótica educacional com professores do Brasil todo!</p>
                    </div>
                </div>
                
                <div class="col-6 d-flex flex-column justify-content-center mx-lg-0 mx-auto">
                <div class="card card-plain">
                  <div class="card-header pb-0 text-center">
                    <img src="{% static 'assets/img/LogoRAP-transparente.png' %}" width="40%"/>
                    <h4 class="font-weight-bolder">Robótica para Alunos e Professores</h4>
                    <h4 class="font-weight-bolder">Cadastre-se</h4>
                    <p class="mb-0">Cria uma conta gratuitamente para começar a utilizar o sistema.</p>
                  </div>
                  <div class="card-body">
                    <form role="form" method="post">
                        {% csrf_token %} {% for field in form %}
                        <div class="mb-3">
                            <label class="form-control-label">{{ field.label }}</label> {% render_field field class="form-control" %}
                            <span class="text-sm opacity-8">{{ field.errors }}</span>
                        </div>
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Cadastrar</button>
                        </div>
                        <p class="text-center text-sm mt-3 mb-0">Já tem uma conta? <a href="{% url 'usuario:login' %}" class="text-primary text-gradient font-weight-bold">Faça login</a></p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {% include "Base/scripts.html" %}
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
  
      const images = ["assets/img/robotica/vertical/imagem1.jpeg",
      "assets/img/robotica/vertical/imagem2.jpeg",
      "assets/img/robotica/vertical/imagem3.jpeg",
      "assets/img/robotica/vertical/imagem4.jpeg",
      "assets/img/robotica/vertical/imagem5.jpeg",
      "assets/img/robotica/vertical/imagem6.jpeg",
      "assets/img/robotica/vertical/imagem7.jpeg",
      "assets/img/robotica/vertical/imagem8.jpeg",
      "assets/img/robotica/vertical/imagem9.jpeg",
      "assets/img/robotica/vertical/imagem10.jpeg",
      "assets/img/robotica/vertical/imagem11.jpeg",
      "assets/img/robotica/vertical/imagem12.jpeg",
      "assets/img/robotica/vertical/imagem13.jpeg",
      "assets/img/robotica/vertical/imagem14.jpeg",
      "assets/img/robotica/vertical/imagem15.jpeg",
      "assets/img/robotica/vertical/imagem16.jpeg",
      "assets/img/robotica/vertical/imagem17.jpeg",
      "assets/img/robotica/vertical/imagem18.jpeg",
      "assets/img/robotica/vertical/imagem19.jpeg",
      "assets/img/robotica/vertical/imagem20.jpeg",
      "assets/img/robotica/vertical/imagem21.jpeg"
        ];
  
        document.addEventListener('DOMContentLoaded', _ => {
          const randImageIndex = ~~(Math.random() * images.length);
          let imagemEscolhida = images[randImageIndex];
          let staticURL = "url('{% static '" + "' %}";
          staticURL = staticURL.substring(0,staticURL.lastIndexOf('/'));
          let imageURL = staticURL + "/" + imagemEscolhida + "')";
          let backgroundSize = "cover";
          document.getElementById('imagem-aleatoria').style.backgroundImage = imageURL;
          document.getElementById('imagem-aleatoria').style.backgroundSize = backgroundSize;
        });
    </script>
  </body>

</html>