{% extends "Base/base.html" %}

{% load info_usuario %}
{% load bootstrap5 %}

{% block barra_titulo %}
{% endblock %}

{% block conteudo %}
<br>
<div class="row">
    <div class="col">
        <div class="card col">
            <div class="card border-primary">
                <div class="card-header pb-0 p-3 bg-gradient-info">
                    <span class="text-md mb-0 text-uppercase text-white font-weight-bold">{{usuario}}</span>
                </div>
                <div class="card-body p-3 overflow-auto">
                    <h6 class="mb-1">Meu perfil</h6>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- {% bootstrap_form form %} -->
                        <div class="row">
                            <div class="col-6">
                                {% bootstrap_field form.username %}
                            </div>
                            <div class="col-6">
                                {% bootstrap_field form.email %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {% bootstrap_field form.first_name %}
                            </div>
                            <div class="col-6">
                                {% bootstrap_field form.last_name %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {% bootstrap_field form.cidade %}
                            </div>
                            <div class="col-6">
                                {% bootstrap_field form.estado %}
                            </div>
                        </div>
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                        <div class="text-right">
                            <input type="submit" class="btn btn-success pull-right" value="Atualizar"></input>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-6">
                                <h6 class="mb-1">Meu avatar</h6>
                            </div>
                            <div class="me-3">
                                <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img alt="avatar" src="{% usuario_avatar user.username %}" class="rounded-circle" />
                                </div>
                                <!-- <img src="{% usuario_avatar user.username %}" class="rounded-circle avatar avatar-lg" alt=""> -->
                                <a href="" class="btn btn-success pull-right">Alterar</a>
                                <a href="{% url 'usuario:alterar_avatar' pk=user.pk novo=0 %}" class="btn btn-outline-white">Remover</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-6">
                                <h6 class="mb-1">Minha senha</h6>
                                <form action="">
                                    {% bootstrap_field form_senha.password1 %}
                                    {% bootstrap_field form_senha.password2 %}

                                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                                    <div class="text-right">
                                        <input type="submit" class="btn btn-success pull-right" value="Alterar senha"></input>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}