<div class="card border-primary">
    <div class="card-header pb-0 p-3 bg-gradient-success">
        <span class="text-md mb-0 text-uppercase text-white font-weight-bold">{{usuario}}</span>
        {% if usuario.pk == user.pk %}
            <div class="float-end">
                <a href="{% url 'usuario:editar' pk=user.pk %}">
                    <p class="badge bg-gradient-warning">Alterar informações pessoais</p>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="card-body p-3 overflow-auto">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">E-mail</p>
                <span class="text-sm mb-0">{{usuario.email}}</span>
            </div>
            <div class="col-md-4 col-lg-4">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Cidade</p>
                <span class="text-sm mb-0">{{usuario.cidade}}</span>
            </div>
            <div class="col-md-4 col-lg-4">
                <p class="text-sm mb-0 text-uppercase font-weight-bold">Estado</p>
                <span class="text-sm mb-0">{{usuario.estado}}</span>
            </div>
        </div>
    </div>
</div>