SECRET_KEY=troque_por_um_valor_seguro
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,seu-dominio.com

DATABASE_URL=postgres://appuser:secret@db:5432/appdb

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=bbitteste@gmail.com
EMAIL_HOST_PASSWORD=senha_de_app
DEFAULT_FROM_EMAIL="Projeto RAP <bbitteste@gmail.com>"
