{% extends "Base/base.html" %} 

{% load static %} 
{% load bootstrap5 %} 
{% load crispy_forms_tags %} 

{% block conteudo %}

<br>

<!-- <div class="container"> -->

    <div class="d-flex main justify-content-between">
        <h4 class="text-uppercase font-weight-bold">Mídias</h4>
        <a class="float-end btn btn-outline-success" href="{% url 'plano_aula:detalhes' pk=plano_aula.pk %}">Voltar</a>
    </div>
    

    <div class="card">
        <div class="card-body p-3 overflow-auto">
            <h6 class="mb-3 text-sm text-uppercase">Fotos do Robô</h6>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form_robo_fotos.robo_foto}}
                <br>
                <br>
                <input class="btn btn-success col-lg-2" type="submit" name='submit-form_robo_foto' value="Inserir" />
            </form>
        </div>
        <hr class="hr hr-blurry" />
        <div class="container row">
            {% for foto in robo_fotos.all %}
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" data-bs-toggle="modal" data-bs-target="#modalMidia" data-bs-midia-pk="{{foto.pk}}" data-bs-tipo-midia="1" 
                            data-bs-midia-url="{{foto.robo_foto.url}}" class="text-xxs">
                        <img src="{{ foto.robo_foto.url }}" style="max-height: 100px;max-width: 100px;object-fit: contain;"/>
                    </a>
                </div>
            {% empty %}
                Não há fotos do robô cadastradas nesse plano de aula.
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body p-3 overflow-auto">
            <h6 class="mb-3 text-sm text-uppercase">Vídeos do Robô</h6>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form_robo_videos.robo_video}}
                <br>
                <br>
                <input class="btn btn-success col-lg-2" type="submit" name='submit-form_robo_video' value="Inserir" />
            </form>
        </div>
        <hr class="hr hr-blurry" />
        <div class="container row">
            {% for video in robo_videos.all %}
                <div class="col-lg-4 col-md-6 col-6">
                    <video controls style="max-height: 300px;max-width: 300px;object-fit: contain;">
                        <source src="{{video.robo_video.url}}" type="video/webm" />
                    </video>
                    <a href="{% url 'plano_aula:deletar_midia' tipo=2 pk=video.pk %}">
                        <span class="badge bg-gradient-danger">Deletar</span>
                    </a>
                </div>
            {% empty %}
                Não há vídeos do robô cadastrados nesse plano de aula.
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body p-3 overflow-auto">
            <h6 class="mb-3 text-sm text-uppercase">Fotos da Execução da Atividade</h6>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form_execucao_fotos.execucao_foto}}
                <br>
                <br>
                <input class="btn btn-success col-lg-2" type="submit" name='submit-form_execucao_foto' value="Inserir" />
            </form>
        </div>
        <hr class="hr hr-blurry" />
        <div class="container row">
            {% for foto in execucao_fotos.all %}
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" data-bs-toggle="modal" data-bs-target="#modalMidia" data-bs-midia-pk="{{foto.pk}}" data-bs-tipo-midia="3" 
                            data-bs-midia-url="{{foto.execucao_foto.url}}" class="text-xxs">
                        <img src="{{ foto.execucao_foto.url }}" style="max-height: 100px;max-width: 100px;object-fit: contain;"/>
                    </a>
                </div>
            {% empty %}
                Não há fotos da execução da atividade cadastradas nesse plano de aula.
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body p-3 overflow-auto">
            <h6 class="mb-3 text-sm text-uppercase">Vídeos da Execução da Atividade</h6>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form_execucao_videos.execucao_video}}
                <br>
                <br>
                <input class="btn btn-success col-lg-2" type="submit" name='submit-form_execucao_video' value="Inserir" />
            </form>
        </div>
        <hr class="hr hr-blurry" />
        <div class="container row">
            {% for video in execucao_videos.all %}
                <div class="col-lg-4 col-md-4 col-6">
                    <video controls style="max-height: 300px;max-width: 300px;object-fit: contain;">
                        <source src="{{video.execucao_video.url}}" type="video/webm" />
                    </video>
                    <a href="{% url 'plano_aula:deletar_midia' tipo=4 pk=video.pk %}">
                        <span class="badge bg-gradient-danger">Deletar</span>
                    </a>
                </div>
            {% empty %}
                Não há vídeos da execução da atividade cadastrados nesse plano de aula.
            {% endfor %}
        </div>
    </div>
    <br>
    
<!-- </div> -->

<div id="modalMidia" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a id="deletar_midia" href="" class="text-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                <div class="pull-right">
                    <a href="" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                
            </div>
            <div class="modal-body">
                <img id="midia_modal" style="width: 100%;" src="{{ midia.midia.url }}"/>
            </div>
        </div>
    </div>
</div>

{% endblock %} 

{% block scripts %}

<script>
    var modalMidia = document.getElementById('modalMidia')
    modalMidia.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var midiaURL = button.getAttribute('data-bs-midia-url')
        var imgModal = document.getElementById('midia_modal')
        midia_modal.src = midiaURL

        var midiaPK = button.getAttribute('data-bs-midia-pk')
        var tipoMidia = button.getAttribute('data-bs-tipo-midia')
        var btnDeletarMidia = document.getElementById('deletar_midia')
        btnDeletarMidia.setAttribute('href', "{% url 'plano_aula:deletar_midia' tipo=9 pk=0 %}".replace('9',tipoMidia).replace('0', midiaPK))
    })
</script>

{% endblock %}