{% load static %}
<nav class="navbar navbar-expand-lg px-0 shadow-none bg-gradient-danger" style="height: 70px;">
  <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>  <!-- Ícone visível sempre -->
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbar">

    <ul class="navbar-nav">
      <li class="nav-item d-flex align-items-center h-100">
        <a href="{% url 'home' %}" class="d-flex align-items-center" style="height: 50px;">
          <img src="{% static 'assets/img/LogoRAP-transparente.png' %}"
               style="height: 100%; width: auto; display: block;"
               alt="Logo">
        </a>
      </li>
      <li class="nav-item px-3 d-flex align-items-center">
        <a href="{% url 'plano_aula:listar' %}" class="nav-link font-weight-bold px-0 text-white">
          Planos de aula
        </a>
      </li>
      <li class="nav-item px-3 d-flex align-items-center">
        <a href="{% url 'disciplina:listar' %}" class="nav-link font-weight-bold px-0 text-white">
          Disciplinas
        </a>
      </li>
      
      <!-- Novo item de navegação para "Acervo" com namespace 
      <!-- <li class="nav-item px-3 d-flex align-items-center">-->
      <!--   <a href="{% url 'acervo:acervo' %}" class="nav-link font-weight-bold px-0 text-white">-->
      <!--     Acervo-->
      <!--   </a>-->
      <!-- </li>-->
      
      <li class="nav-item px-3 d-flex align-items-center">
        <a href="{% url 'usuario:listar_ativos' %}" class="nav-link font-weight-bold px-0 text-white">
          Usuários
        </a>
      </li>
      <li class="nav-item px-3 d-flex align-items-center">
        <a href="{% url 'acoes:listar' %}" class="nav-link font-weight-bold px-0 text-white">
          Ações
        </a>
      </li>
    </ul>
    <ul class="navbar-nav align-items-center">
      <li class="nav-item me-2">
        <form action="{% url 'buscar' %}" method="get">
            <div class="input-group">
                <input type="text" 
                      class="form-control" 
                      placeholder="Digite aqui..." 
                      name="q" 
                      id="input_busca"
                      value="{{ request.GET.q }}">
                <span class="input-group-text">
                    <a href="#" onclick="this.closest('form').submit(); return false;">
                        <i class="fa fa-search"></i>
                    </a>
                </span>
            </div>
        </form>

      </li>
      <li class="nav-item">
        <a href="{% url 'usuario:perfil' %}" class="nav-link text-white">
          <i class="fa fa-user me-1"></i> {{ user.first_name }} {{ user.last_name }}
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'usuario:logout' %}" class="nav-link text-white">
          <i class="fa fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#alerta_sugestoes {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
</style>

<script src="{% static 'assets/js/custom/alerta_sugestoes.js' %}"></script>
