{% extends "Base/base.html" %} 

{% load static %} 
{% load bootstrap5 %} 
{% load crispy_forms_tags %} 

{% block conteudo %}

<br>

<div class="container">

    <div class="d-flex main justify-content-between">
        <h4 class="text-uppercase font-weight-bold">Mídias</h4>
        <a class="float-end btn btn-outline-success" href="{% url 'acoes:detalhes' pk=acao.pk %}">Voltar</a>
    </div>
    

    <div class="card">
        <div class="card-body p-3 overflow-auto">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form_nova_midia.midia}}
                <br>
                <br>
                <input class="btn btn-success col-lg-2" type="submit" value="Inserir" />
            </form>
        </div>
        <hr class="hr hr-blurry" />
        <div class="container row">
            {% for midia in midias_acao %}
                <div class="col-lg-2 col-md-4 col-6">
                    <a href="" data-bs-toggle="modal" data-bs-target="#modalMidia" data-bs-midia-pk="{{midia.pk}}" 
                            data-bs-midia-url="{{midia.midia.url}}" class="text-xxs">
                        <img src="{{ midia.midia.url }}" style="max-height: 100px;max-width: 100px;object-fit: contain;"/>
                    </a>
                </div>
            {% empty %}
                Não há mídias cadastradas para essa ação.
            {% endfor %}
        </div>
    </div>
    
</div>

<div id="modalMidia" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a id="deletar_midia" href="{% url 'acoes:deletar_midia' pk=33 %}" class="text-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                <div class="pull-right">
                    <a href="" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                
            </div>
            <div class="modal-body">
                <img id="midia_modal" style="width: 100%;" src="{{ midia.midia.url }}"/>
            </div>
        </div>
    </div>
</div>

{% endblock %} 

{% block scripts %}

<script>
    var modalMidia = document.getElementById('modalMidia')
    modalMidia.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var midiaURL = button.getAttribute('data-bs-midia-url')
        var imgModal = document.getElementById('midia_modal')
        midia_modal.src = midiaURL

        var midiaPK = button.getAttribute('data-bs-midia-pk')
        var btnDeletarMidia = document.getElementById('deletar_midia')
        btnDeletarMidia.setAttribute('href', "{% url 'acoes:deletar_midia' pk=0 %}".replace('0', midiaPK))
    })
</script>

{% endblock %}