{% extends "Base/base.html" %} 

{% load static %} 
{% load pagination_tags %}
{% load widget_tweaks %}

{% load crispy_forms_tags %} 

{% block conteudo %}

<br>

<div class="row">
    <div class="col-8">
        <h3 class="text-uppercase font-weight-bold">{{acao.titulo}}</h3>
        <span class="badge bg-gradient-warning">{{acao.tipo}}</span>
        <span class="badge bg-gradient-danger">{{acao.formato}}</span>
        <br>
        <br>
        <a href="{% url 'usuario:informacoes_acoes' pk=acao.responsavel.pk %}"><span class="text-md mb-0 text-uppercase font-weight-bold">Responsável: </span>
            <span>{{acao.responsavel}}</span>
        </a>
        {% if acao.site is not None %}
            <br>
            <span class="text-md mb-0 text-uppercase font-weight-bold">Site: </span>
                <a href="{{acao.site}}" target="_blank"><span>{{acao.site}}</span></a>
        {% endif %}
        <br>
        {% if acao.local is not None %}
            <br>
            <span class="text-md mb-0 text-uppercase font-weight-bold">Local: </span>
                <span>{{acao.local}}</span>
        {% endif %}
        {% if acao.link_de_acesso is not None %}
            <br>
            <span class="text-md mb-0 text-uppercase font-weight-bold">Link de acesso: </span>
                <a href="{{acao.link_de_acesso}}" target="_blank"><span>{{acao.link_de_acesso}}</span></a>
        {% endif %}
    </div>
    <div class="float-end col-4">
        <div class="float-end ">
            <span class="text-md mb-0 text-uppercase font-weight-bold">Início: </span>
            <span>{{acao.data_inicio|date:"d/m/Y"}}</span>
        </div>
        {% if acao.data_fim is not None %}
            <br>
            <div class="float-end ">
                <span class="text-md mb-0 text-uppercase font-weight-bold">Fim: </span>
                <span>{{acao.data_fim|date:"d/m/Y"}}</span>
            </div>
        {% endif %}
        {% if acao.responsavel.id == user.id %}
            <br>
            <a href="{% url 'acoes:editar' pk=acao.pk %}" class="float-end" tool><i class="fa fa-pencil text-warning"></i></a>
            <br>
            <a href="{% url 'acoes:editar_midia' pk=acao.pk %}" class="float-end"><i class="fa fa-camera text-warning"></i></a>
        {% endif %}
    </div>
</div>
<br>

{% if acao.midias.all|length == 0 %}
    <p>{{acao.descricao|linebreaks}}</p>
{% else %}
    <div class="row">
        <div class="col-4">
            <div id="midias_acao" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for midia in acao.midias.all %}
                        {% if forloop.counter == 1 %}
                            <button type="button" data-bs-target="#midias_acao" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
                        {% else %}
                            <button type="button" data-bs-target="#midias_acao" data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter}}"></button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for midia in acao.midias.all %}
                        {% if forloop.counter == 1 %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item ">
                        {% endif %}
                        <img class="d-block w-100" src="{{ midia.midia.url }}">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#midias_acao" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#midias_acao" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-8">
            <p>{{acao.descricao|linebreaks}}</p>
        </div>
    </div>
{% endif %}

<br>

<div class="card">
    {% if acao.data_fim is not None and todays_date > acao.data_fim|date:"Y-m-d" or acao.status is False %}
        <div id="card_header_mensagens" class="card-header bg-gradient-secondary pb-0 p-3">
    {% else %}
        <div id="card_header_mensagens" class="card-header bg-gradient-warning pb-0 p-3">
    {% endif %}
    
        <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">Mensagens</span>
        <div class="float-end">
            <a href="" class="text-white" data-bs-toggle="modal" data-bs-target="#modalNovaMensagem"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="card-body row">
        {% for mensagem in lista_mensagens %}
            <div>
                <span class="text-sm mb-0 text-uppercase font-weight-bold">{{mensagem.usuario}}</span>
                {% if mensagem.usuario.id == request.user.id or mensagem.acao.responsavel.id == request.user.id %}
                    <a href="" data-bs-toggle="modal" data-bs-target="#modalDeletar" 
                            data-bs-mensagem="{{mensagem.texto}}" data-bs-mensagem-id="{{mensagem.pk}}" class="text-xxs">
                        <span class="badge badge-sm bg-gradient-danger">Deletar</span>
                    </a>
                {% endif %}
                <div class="float-end">
                    <span class="text-sm mb-0 text-uppercase font-weight-bold">{{mensagem.data|date:"d/m/Y H:i"}}</span>
                    {% if mensagem.mensagem_original is None %}
                        <a href="" class="text-xs" data-bs-mensagem-id="{{mensagem.pk}}" data-bs-toggle="modal" data-bs-target="#modalNovaMensagem"><i class="fa fa-reply"></i></a>
                    {% endif %}
                </div>
                <br>
                <span class="text-xs">{{mensagem.texto|linebreaks}}</span>
            </div>
            {% for reply in mensagem.replies.all %}
                <div class="col-1"></div>
                <div class="col-11">
                    <div>
                        <span class="text-sm mb-0 text-uppercase font-weight-bold">{{reply.usuario}}</span>
                        {% if reply.usuario.id == request.user.id or mensagem.acao.responsavel.id == request.user.id %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#modalDeletar" 
                                    data-bs-mensagem="{{reply.texto}}" data-bs-mensagem-id="{{reply.pk}}" class="text-xxs">
                                <span class="badge badge-sm bg-gradient-danger">Deletar</span>
                            </a>
                        {% endif %}
                        <div class="float-end">
                            <span class="text-sm mb-0 text-uppercase font-weight-bold">{{reply.data|date:"d/m/Y H:i"}}</span>
                        </div>
                        <br>
                        <span class="text-xs">{{reply.texto|linebreaks}}</span>
                    </div>
                </div>
            {% endfor %}
        {% empty %}
            Não há nenhuma mensagem.
        {% endfor %}
    </div>
</div>

<div id="modalMidia" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right">
                    <a href="" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <img id="midia_modal" style="width: 100%;" src="{{ midia.midia.url }}"/>
            </div>
        </div>
    </div>
</div>

<div id="modalNovaMensagem" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nova mensagem</h5>
                <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {%csrf_token%}
                    {{ form_nome_mensagem.texto|as_crispy_field }}
                    <input id="hidden_input" type="hidden" name="mensagem_original" />
                </div>
                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Submeter"/>
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalDeletar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deletar mensagem</h5>
                <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja deletar a mensagem?</p>
                <p id="mensagem_modal" class="text-xs"></p>
                <p class="text-xxs">As respostas à essa mensagem também serão deletadas.</p>
            </div>
            <div class="modal-footer">
                <a id="anchor_deletar_mensagem" href="" class="btn btn-success">Deletar</a>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %} 

{% block scripts %}
<script src="{% static 'assets/js/custom/acoes.js' %}"></script>

<script>
    var modalMidia = document.getElementById('modalMidia')
    modalMidia.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var midiaURL = button.getAttribute('data-bs-midia-url')
        var imgModal = document.getElementById('midia_modal')
        midia_modal.src = midiaURL
    })

    var modalNovaMensagem = document.getElementById('modalNovaMensagem')
    modalNovaMensagem.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var mensagemId = button.getAttribute('data-bs-mensagem-id')
        var hiddenInput = document.getElementById('hidden_input')
        hiddenInput.value = mensagemId
    })
    
    var modalDeletar = document.getElementById('modalDeletar')
    modalDeletar.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        var mensagem = button.getAttribute('data-bs-mensagem')
        var mensagem_modal = document.getElementById('mensagem_modal')
        mensagem_modal.innerHTML = mensagem

        var anchor = document.getElementById('anchor_deletar_mensagem')
        var mensagemId = button.getAttribute('data-bs-mensagem-id')
        var stringHref = "/acoes/deletar-mensagem/" + mensagemId
        anchor.href = stringHref
    })
</script>

{% endblock %}