    {% extends "Base/base.html" %}
    {% load static %}
    {% load attribute_tags %}
    
    {% block conteudo %}
    <br> 
    
    <div class="row">
        <div class="container">
            <div id="imagem-aleatoria" class="page-header align-items-start min-vh-50 m-3 border-radius-lg" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg'); background-position: top;">
                <span class="mask bg-gradient-dark opacity-6"></span>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 text-center mx-auto">
                            <h1 class="text-white mb-2 mt-5">Bem vindo ao RAP!</h1>
                            <p class="text-lead text-white">Navegue no sistema para encontrar planos de aula de robótica educacional!</p>
                            <p class="text-lead text-white">Veja informações de cursos, eventos e palestras sobre robótica educacional que estão acontecendo no Brasil todo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header bg-gradient-info pb-0 p-3">
                    <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">Planos de aula</span>
                    <a class="btn btn-outline-dark float-end" href="{% url 'plano_aula:listar' %}">Veja mais</a>
                </div>
                <div class="card-body row">
                    <ul class="list-group">
                        {% for plano_aula in principais_planos_aula %}
                            <a href="{% url 'plano_aula:detalhes' pk=plano_aula.0.pk %}">
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-3 text-sm">{{plano_aula.0.titulo}}</h6>
                                        {% for conteudo in plano_aula.0.conteudos.all %} 
                                            <span class="mb-2 text-xs">{{conteudo.disciplina}}: 
                                                <span class="text-dark font-weight-bold text-xs ms-sm-2">{{conteudo.nome}}</span>
                                            </span>
                                        {% endfor %}
                                    </div>
                                    <div class="ms-auto text-end">
                                        <span class="text-sm mb-0 text-uppercase font-weight-bold">
                                            {% if plano_aula.0.likes.all|encontrar_usuario_lista:user.id %}
                                                <a onclick="marcar_favorito({{plano_aula.0.id}}, {{user.id}}, 'todos')">
                                                    <i class="fas fa-thumbs-up px-3" id="icon_thumbs_up_{{plano_aula.0.id}}"
                                                    style="color: var(--bs-success);"></i>
                                                </a>
                                            {% else %}
                                                <a onclick="marcar_favorito({{plano_aula.0.id}}, {{user.id}}, 'todos')">
                                                    <i class="fas fa-thumbs-up px-3" id="icon_thumbs_up_{{plano_aula.0.id}}"
                                                    style="color: gray;"></i>
                                                </a>
                                            {% endif %}
                                            <span id="contador_thumbs_up_{{plano_aula.0.id}}">{{ plano_aula.0.likes.count }}</span>
                                        </span>
                                        <span class="text-sm mb-0 text-uppercase font-weight-bold">
                                            {% if plano_aula.0.execucoes.all|encontrar_usuario_lista:user.id %}
                                                <a onclick="marcar_executado({{plano_aula.0.id}}, {{user.id}}, 'todos')">
                                                    <i class="fas fa-play px-3" id="icon_play_{{plano_aula.0.id}}"
                                                    style="color: var(--bs-success);"></i>
                                                </a>
                                            {% else %}
                                                <a onclick="marcar_executado({{plano_aula.0.id}}, {{user.id}}, 'todos')">
                                                    <i class="fas fa-play px-3" id="icon_play_{{plano_aula.0.id}}"
                                                    style="color: gray;"></i>
                                                </a>
                                            {% endif %}
                                            <span id="contador_play_{{plano_aula.0.id}}">{{ plano_aula.0.execucoes.count }}</span>
                                        </span>
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-header bg-gradient-warning pb-0 p-3">
                    <span class="text-sm mb-0 text-uppercase text-white font-weight-bold">Eventos, cursos e palestras de robótica</span>
                    <a class="btn btn-outline-dark float-end" href="{% url 'acoes:listar' %}">Veja mais</a>
                </div>
                <div class="card-body row">
                    <ul class="list-group">
                        {% for acao in principais_acoes %}
                            <a href="{% url 'acoes:detalhes' pk=acao.pk %}">
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-3 text-sm">{{acao.titulo}}</h6>
                                        <span class="mb-2 text-xs">Início: 
                                            <span class="text-dark font-weight-bold text-xs ms-sm-2">{{acao.data_inicio|date:"d/m/Y"}}</span>
                                        </span>
                                        {% if acao.data_fim is not None %}
                                        <span class="mb-2 text-xs">Fim: 
                                            <span class="text-dark font-weight-bold text-xs ms-sm-2">{{acao.data_fim|date:"d/m/Y"}}</span>
                                        </span>
                                        {% endif %}
                                        {% if acao.local is not None %}
                                            <span class="mb-2 text-xs">Local: 
                                                <span class="text-dark font-weight-bold text-xs ms-sm-2">{{acao.local}}</span>
                                            </span>
                                        {% else %}
                                            <span class="mb-2 text-xs">Local: 
                                                <span class="text-dark font-weight-bold text-xs ms-sm-2"> -</span>
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="ms-auto text-end text-sm text-uppercase">
                                        {{acao.tipo}}
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block scripts %}
    <script src="{% static 'assets/js/custom/marcar_favorito_executado.js' %}"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    
        const images = ["assets/img/robotica/horizontal/imagem1.png",
        "assets/img/robotica/horizontal/imagem2.png",
        "assets/img/robotica/horizontal/imagem3.png"
          ];
    
          document.addEventListener('DOMContentLoaded', _ => {
            const randImageIndex = ~~(Math.random() * images.length);
            let imagemEscolhida = images[randImageIndex];
            let staticURL = "url('{% static '" + "' %}";
            staticURL = staticURL.substring(0,staticURL.lastIndexOf('/'));
            let imageURL = staticURL + "/" + imagemEscolhida + "')";
            let backgroundSize = "cover";
            document.getElementById('imagem-aleatoria').style.backgroundImage = imageURL;
            document.getElementById('imagem-aleatoria').style.backgroundSize = backgroundSize;
          });
      </script>

    {% endblock %}